<div class="row">
  <div class="post_list">
    {{#each post in content}}
      {{#link-to 'post.edit' post currentWhen="post" class="post list-group-item" classNameBindings="post.published:published"}}
        <div class="row">
          <div class="col-md-9">
            <h4 class="list-group-item-heading post__title">{{post.title}}</h4>
          </div>
          <div class="col-md-3">
            <img class="post__author_image" {{bind-attr src=post.sizedAuthorImage}} />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="list-group-item-text post__description">{{post.description}}</p>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>

  <div class="full_post">
    {{outlet}}
  </div>
</div>

