- content_for(:title) { "Gaslight: Powering Hardware Innovation With Software" }

#main.content.with-photo
  .hero.hero__apex
    .hero__header.hero__header--brand1
      .row
        .large-11.columns
          %h1 Powering Hardware Innovation With Software
          %h2 Apex

  %section.row
    .large-3.columns.hide-for-small.sidebar
      .underline.underline--blue
      %h3.sidebar__heading--case-study Client
      %p Apex
      %h3.sidebar__heading--case-study Engagement
      %p 18 Months
      %h3.sidebar__heading--case-study Technology
      %ul.sidebar__list
        %li Ruby on Rails
        %li Node.js
    .large-8.large-offeset-1.columns
      %p.lead Apex focuses on supply chain technology, creating automated systems that take the pain out of inventory control. Instead of monitoring how many bolts or bandages your company uses manually, Apex creates high tech cabinets or large walk-in enclosures that automatically track what employees use through a variety of sensors.
      %p.lead We partnered with the company’s R&D team to help them bring new hardware ideas to life by creating the software to manage those devices. Our flexible, agile development process allowed us to help them try out ideas faster and build the final software in a fraction of the time it’s taken the company for similar projects in the past.

  .hero.hero--apex-second
    .hero__content
      .row
        .large-7.columns
          .flex-video
            %iframe{ id: "ytplayer", type: "text/html", src: "//www.youtube.com/embed/8X-ZgEYCVVc", frameborder: "0", allowfullscreen: "allowfullscreen"}
        .large-5.columns
          .hero__quote
            %h3 “Gaslight is very much in an agile mindset. They are very quick to develop code and very quick to develop new features.”
            %h4 <strong>Ben Savage</strong>
            %h4 VP of Innovation and Advanced Technology at Apex

  %section
    .row
      .large-3.columns.sidebar
        .underline.underline--blue.hide-for-small
        %h3.sidebar__heading--case-study Key Business Results
        %ul
          %li Moved from idea to prototype to product in months instead of years.
          %li Improved device performance with sub-second reaction times atypical for the industry
          %li Created software architecture slated to drive all the company’s machines for the next five years.
      .large-8.columns
        %img{src: image_path("casestudy/apex__mockup.jpg"), alt: "apex keypad" }
  .hero.hero--apex-third
    .hero__content
      .row
        .large-8.large-offset-2.columns
          %p.lead--light.standalone Our software helped drive four main types of sensors: digital scales, light sensors, locks and pushers (to move things on a shelf). If someone took three things off a shelf, for instance, we were able to translate that change in weight to automatically generate a report and even email someone when it’s time to re-order.
  %section
    .row
      .large-3.columns.sidebar
        .underline.underline--blue.hide-for-small
        %h3.sidebar__heading--case-study Want to innovate faster?
        %p Let’s talk. We can help make your R&D concepts come alive
        %a.button--full-width.button--brand1{href: page_path("contact"), rel: "Case Study Lets Talk button" } Contact Us
        %hr.show-for-small
      .large-8.large-offset-1.columns
        %h2.subheading Automating Inventory
        %p.lead While typical software revolves around typing or clicking, this project focused on interacting with and reacting to actions in the physical world. Our software tracks and triggers a variety of physical movements and automatically translates those actions into meaningful inventory reports that streamline the re-ordering process.
  %hr
  .row.pagination
    .large-6.columns
      %a.button.button--quiet.pagination__prev{href: page_path("work/index"), rel: "Work" } &#171; Work Page
    .large-3.columns
      %a.button.button--quiet.pagination__next{href: page_path("work/enjoy-the-arts"), rel: "ETA Case Study" } Enjoy the Arts &#187;
