- content_for(:title) { "Gaslight: Careers" }

#main.content.with-photo
  %section.header--career
    .row
      .large-12.columns.large-centered
        %h1.title--light We're Hiring
    .row
      .large-8.columns.large-centered
        %h3.subheading.subheading--light
          Welcome to the Unicorn Army of Gaslight
        .underline--red.underline--heading
  %section
    .row.row--lg-margin-bottom
      .large-3.columns.sidebar
        .underline.underline--red
        %h3.heading--career Developer
        %a.button.button--brand3.element--sm-margin-top{href: "mailto:careers@gaslight.co", rel: "Contact Career"} Apply for this.
      .large-8.columns
        %h3.subtitle.strong Requirements
        %ul
          %li Strong understanding of object-oriented programming and MVC paradigm
          %li Cross functional. You should at least be comfortable with both server-side and client-side work
          %li Experience interacting with third-party APIs and Web Services
          %li A Github account. Demonstrated familiarity and application of open-source tools
          %li Ruby/Rails Experience. We work primarily with Ruby as a server-side language, so some experience is vital - but we do welcome knowledge of other languages as long as you're properly skilled. Ruby does not need to be your primary language -- you should have some experience with it though
        %br
        %h3.subtitle.strong Ideal Candidate
        %ul
          %li Has a weapon of choice. Whether that's Rails, Sinatra, Express or something else - you should have a workflow you are an expert in
          %li Experience with Git-based team workflow and deployment
          %li Is interested in advanced Frontend Development, like the use of pre-processors (check out Roots) and advanced template languages
  %section.section--contrast
    .row.large-centered
      %h2.heading Perks of Being a Gaslighter
      .underline--red
    .row
      .large-3.columns
        .about--happy
          =image_tag "icons/vacation.svg", :class => "icon"
        %h1.subheading.center Unlimited Vacation
      .large-3.columns
        .about--happy
          =image_tag "icons/health.svg", :class => "icon"
        %h1.subheading.center Health Care with Dental and Vision
      .large-3.columns
        .about--happy
          =image_tag "icons/401k.svg", :class => "icon"
        %h1.subheading.center 401k
      .large-3.columns
        .about--happy
          =image_tag "icons/healthy.svg", :class => "icon"
        %h1.subheading.center Healthy Food and Snacks
    .row
      .large-3.columns.end
        .about--happy
          =image_tag "icons/g-day.svg", :class => "icon"
        %h1.subheading.center G-Day Celebrations
  / Begin MailChimp Signup Form
  #mc_embed_signup
    %section#main.newsletter_body
      .row
        .large-6.columns.large-centered
          %form#mc-embedded-subscribe-form.validate{:action => "http://gaslight.us4.list-manage.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=5fb0f9234f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            %h2.newsletter_headline The Gaslight Newsletter
            %div.underline--red
            %p.center We don’t like to sit still. Keep up with us in our monthly email newsletter. It’s full of tech tips, news and happenings.
            .row
              .large-8.columns
                .mc-field-group
                  %label.input_label_newsletter{:for => "mce-EMAIL"} 
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email Address"}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_8c64d42f5af77dfcaa8d23c71_5fb0f9234f", :type => "text", :value => ""}
              .large-4.columns
                .clear
                  %input#mc-embedded-subscribe.button.button--brand3.button--form{:name => "subscribe", :type => "submit", :value => "Subscribe"}
  / End mc_embed_signup