- content_for(:title) { "Gaslight: Careers" }

#main.content.with-photo
  %section.header--career
    .row
      .large-12.columns.large-centered
        %h1.title--light We're Hiring
    .row
      .large-8.columns.large-centered
        %h3.subheading.subheading--light
          Welcome to the Unicorn Army of Gaslight
        .underline--red.underline--heading
  %section
    .row.row--lg-margin-bottom
      .large-3.columns.sidebar
        .underline.underline--red
        %h3.heading--career Developer
        %a.button.button--brand3.element--sm-margin-top{href: "mailto:careers@gaslight.co", rel: "Contact Career"} Apply for this.
      .large-8.columns
        %h3.subtitle.strong Requirements
        %ul
          %li Strong understanding of object-oriented programming and MVC paradigm
          %li Cross functional. You should at least be comfortable with both server-side and client-side work
          %li Experience interacting with third-party APIs and Web Services
          %li A Github account. Demonstrated familiarity and application of open-source tools
          %li Ruby/Rails Experience. We work primarily with Ruby as a server-side language, so some experience is vital - but we do welcome knowledge of other languages as long as you're properly skilled. Ruby does not need to be your primary language -- you should have some experience with it though
        %br
        %h3.subtitle.strong Ideal Candidate
        %ul
          %li Has a weapon of choice. Whether that's Rails, Sinatra, Express or something else - you should have a workflow you are an expert in
          %li Experience with Git-based team workflow and deployment
          %li Is interested in advanced Frontend Development, like the use of pre-processors (check out Roots) and advanced template languages
    .row
      .large-3.columns.sidebar
        .underline.underline--red
        %h3.heading--career Designer + Front End Developer
        %a.button.button--brand3.element--sm-margin-top{href: "mailto:careers@gaslight.co", rel: "Contact Career"} Apply for this.
      .large-8.columns
        %h3.subtitle.strong Requirements
        %ul
          %li Strong visual design skills, photoshop and illustrator
          %li Good understanding and coding ability with html and css
          %li A passion for beautiful and polished interfaces
          %li Experience designing specifically for the web
        %br
        %h3.subtitle.strong Ideal Candidate
        %ul
          %li Has experience and/or interest in preprocessors (sass, stylus)
          %li Has experience and/or interest in javascript/coffeescript
          %li Would enjoy working closely with developers to create awesome interactive experiences
  %section.section--contrast
    .row.large-centered
      %h2.heading Perks of Being a Gaslighter
      .underline--red
    .row
      .large-3.columns
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
        %h1.subheading.center Unlimited Vacation
      .large-3.columns
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
        %h1.subheading.center Health Care with Dental and Vision
      .large-3.columns
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
        %h1.subheading.center 401k
      .large-3.columns
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
        %h1.subheading.center Healthy Food and Snacks
    .row
      .large-3.columns.end
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
        %h1.subheading.center G-Day Celebrations