/ Begin MailChimp Signup Form
#mc_embed_signup
  %section#main.newsletter_body
    .row
      %form#mc-embedded-subscribe-form.validate{:action => "http://gaslight.us4.list-manage.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=5fb0f9234f", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        %h2.newsletter_headline The Gaslight Newsletter
        %div.underline--yellow.newsletter_underline_yellow
        .large-6.columns
          %img.wendell{ src: image_path('wendell_newsletter.png') }
        .large-5.columns.end
          %p.lead.newsletter_paragraph We don’t like to sit still. Keep up with us in our monthly email newsletter. It’s full of tech tips, news and happenings.
          .mc-field-group
            %label.input_label_newsletter{:for => "mce-EMAIL"} 
            .row
              .large-8.columns
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email Address"}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_8c64d42f5af77dfcaa8d23c71_5fb0f9234f", :type => "text", :value => ""}
              .large-4.columns
                %div.clear
                  %input#mc-embedded-subscribe.button.button--brand2.button--inline.subscribe{:name => "subscribe", :type => "submit", :value => "Subscribe"}
/ End mc_embed_signup